Repository wso2/product-apim, pull requests merged in 2019-02, with the labels that each got.

#4285 Add 3.2.1.2 test case
  product-scenarios/3-securing-an-api-with-different-security-protocols/3.2-api-developers-want-to-secure-their-api-using-an-user-access-control-machanism/3.2.1-api-developer-wants-to-secure-api-resources-using-user-roles/src/test/java/org/wso2/am/scenario/tests/api/secure/userRoles/SecureUsingUserRolesNegativeTestCases.java
  product-scenarios/3-securing-an-api-with-different-security-protocols/3.2-api-developers-want-to-secure-their-api-using-an-user-access-control-machanism/3.2.1-api-developer-wants-to-secure-api-resources-using-user-roles/src/test/java/org/wso2/am/scenario/tests/api/secure/userRoles/SecureUsingUserRolesTestCases.java
  product-scenarios/3-securing-an-api-with-different-security-protocols/3.2-api-developers-want-to-secure-their-api-using-an-user-access-control-machanism/3.2.1-api-developer-wants-to-secure-api-resources-using-user-roles/src/test/java/org/wso2/am/scenario/tests/api/secure/userRoles/Utils.java
  product-scenarios/3-securing-an-api-with-different-security-protocols/3.2-api-developers-want-to-secure-their-api-using-an-user-access-control-machanism/3.2.1-api-developer-wants-to-secure-api-resources-using-user-roles/src/test/resources/swaggerFiles/APIScopeTest2.json
Labels: product-scenarios

#4304 Product scenarios dev
  product-scenarios/3-securing-an-api-with-different-security-protocols/3.1-api-developers-want-to-secure-their-api-using-an-authentication-machanism/3.1.1-api-developers-and-publishers-want-to-make-their-apis-secure-using-the-oauth2-protocol/src/test/java/org/wso2/am/scenario/tests/api/secure/oauth2/SecureUsingAuth2TestCases.java
  product-scenarios/pom.xml
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/APIPublisherRestClient.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/beans/APIManageBean.java
Labels: Docs/No Impact, product-scenarios

#4312 Product scenarios dev
  pom.xml
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.2-create-rest-api-by-import-oas-document/src/test/java/org/wso2/am/scenario/tests/rest/api/creation/RESTApiCreationUsingOASDocTestCase.java
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.2-create-rest-api-by-import-oas-document/src/test/resources/swaggerFiles/InvalidOAS3Document.json
  product-scenarios/scenarios-common/pom.xml
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/ScenarioDataProvider.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/httpserver/SimpleHTTPServer.java
Labels: Docs/No Impact, product-scenarios

#4320 fix testcase failre in linux
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.2-create-rest-api-by-import-oas-document/src/test/java/org/wso2/am/scenario/tests/rest/api/creation/RESTApiCreationUsingOASDocTestCase.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/httpserver/SimpleHTTPServer.java
Labels: Docs/No Impact, product-scenarios

#4324 Add capability to create custom subscription policies for tests
  product-scenarios/7-managing-api-traffic-based-on-various-conditions/7.1-limit-access-to-an-application/7.1.1-define-and-assign-subscription-tiers/src/test/java/org/wso2/am/scenario/tests/define/subscription/tiers/SubscribeToAssignedTiersNegativeTestCase.java
  product-scenarios/7-managing-api-traffic-based-on-various-conditions/7.1-limit-access-to-an-application/7.1.1-define-and-assign-subscription-tiers/src/test/java/org/wso2/am/scenario/tests/define/subscription/tiers/SubscribeToAssignedTiersTestCase.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/AdminDashboardRestClient.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/ScenarioTestBase.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/ScenarioTestConstants.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/SubscriptionThrottlePolicyRequest.java
Labels: product-scenarios

#4306 Scenarios versioning
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.1-create-rest-api-from-scratch/pom.xml
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.1-create-rest-api-from-scratch/src/test/resources/testng-2.1.0.xml
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.1-create-rest-api-from-scratch/src/test/resources/testng-2.2.0.xml
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.1-create-rest-api-from-scratch/src/test/resources/testng-2.5.0.xml
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.1-create-rest-api-from-scratch/src/test/resources/testng-2.6.0.xml
  product-scenarios/README.md
  product-scenarios/test.sh
Labels: product-scenarios

#4327 Improve property lookup logic
  product-scenarios/test.sh
Labels: Docs/No Impact, product-scenarios

#4289 add publisher access control negative test case
  product-scenarios/2-collaborative-api-development/2.2-manage-visibility-of-apis-in-publisher-portal/2.2.1-prevent-unintended-parties-from-modifying-and-viewing-APIs/src/test/java/org/wso2/am/scenario/tests/rest/api/publisherVisibilityRoleRestriction/publisherAccessControlNegativeTestCase.java
  product-scenarios/2-collaborative-api-development/2.2-manage-visibility-of-apis-in-publisher-portal/2.2.1-prevent-unintended-parties-from-modifying-and-viewing-APIs/src/test/resources/testng.xml
Labels: product-scenarios

#4325 Add code coverage report generating implementation
  product-scenarios/code-coverage/code-coverage.sh
  product-scenarios/code-coverage/pom.xml
  product-scenarios/test.sh
Labels: Docs/No Impact, product-scenarios

#4349 Add scenario test 1.5.2.10 and 1.5.2.11
  product-scenarios/1-manage-public-partner-private-apis/1.5-expose-api-to-the-app-developer/1.5.2-expose-api-to-subset-of-app-developer-restricted-by-roles/src/test/java/org/wso2/am/scenario/tests/rest/api/restrictedVisibility/RESTApiVisibilityRestrictedByRolesNegativeTestCase.java
  product-scenarios/1-manage-public-partner-private-apis/1.5-expose-api-to-the-app-developer/1.5.2-expose-api-to-subset-of-app-developer-restricted-by-roles/src/test/java/org/wso2/am/scenario/tests/rest/api/restrictedVisibility/RestApiVisibilityRestrictedByRolesTestCase.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/APIStoreRestClient.java
Labels: Docs/No Impact, product-scenarios

#4335 Product scenarios dev
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.2-create-rest-api-by-import-oas-document/README.md
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.2-create-rest-api-by-import-oas-document/src/test/java/org/wso2/am/scenario/tests/rest/api/creation/RESTApiCreationUsingOASDocTestCase.java
Labels: Docs/No Impact

#4366 Sync with prod branch
  product-scenarios/scenarios-common/src/main/resources/keystore/wso2carbon.jks
Labels: Docs/No Impact, product-scenarios

#4378 add update tags test cases and improve test cases in 1.1.2
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.2-create-rest-api-by-import-oas-document/src/test/java/org/wso2/am/scenario/tests/rest/api/creation/RESTApiCreationUsingOASDocNegativeTestCase.java
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.2-create-rest-api-by-import-oas-document/src/test/java/org/wso2/am/scenario/tests/rest/api/creation/RESTApiCreationUsingOASDocTestCase.java
  product-scenarios/1-manage-public-partner-private-apis/1.1-expose-service-as-rest-api/1.1.5-edit-rest-api/src/test/java/org/wso2/am/scenario/tests/rest/api/edit/RESTApiEditTestCase.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/APIPublisherRestClient.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/APIRequest.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/ScenarioTestBase.java
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/httpserver/SimpleHTTPServer.java
Labels: Docs/No Impact, product-scenarios

#4382 Fix sticky session for admin client
  product-scenarios/scenarios-common/src/main/java/org/wso2/am/scenario/test/common/AdminDashboardRestClient.java
Labels: Docs/No Impact, product-scenarios

#4389 Resolve builds failures in dev
  product-scenarios/1-manage-public-partner-private-apis/1.5-expose-api-to-the-app-developer/1.5.2-expose-api-to-subset-of-app-developer-restricted-by-roles/src/test/java/org/wso2/am/scenario/tests/rest/api/restrictedVisibility/RestApiVisibilityRestrictedByRolesTestCase.java
  product-scenarios/3-securing-an-api-with-different-security-protocols/3.1-api-developers-want-to-secure-their-api-using-an-authentication-machanism/3.1.1-api-developers-and-publishers-want-to-make-their-apis-secure-using-the-oauth2-protocol/src/test/java/org/wso2/am/scenario/tests/api/secure/oauth2/SecureUsingAuth2TestCase.java
  product-scenarios/3-securing-an-api-with-different-security-protocols/3.2-api-developers-want-to-secure-their-api-using-an-user-access-control-machanism/3.2.1-api-developer-wants-to-secure-api-resources-using-user-roles/src/test/java/org/wso2/am/scenario/tests/api/secure/userRoles/SecureUsingUserRolesTestCase.java
  product-scenarios/7-managing-api-traffic-based-on-various-conditions/7.1-limit-access-to-an-application/7.1.1-define-and-assign-subscription-tiers/src/test/java/org/wso2/am/scenario/tests/define/subscription/tiers/SubscribeToAssignedTiersTestCase.java
Labels: Docs/No Impact, product-scenarios
